.container {
	width: 1280px;
	margin: 0 auto;
}

.main-header {
	width: 100%;
	min-height: 320px;
	padding: 30px;
	box-sizing: border-box;
	background-color: rgb(68, 81, 97);
}

.main-header-wrapper {
	float: left;
}

.main-header-title {
	margin: 0;
	font-family: Arial;
	color: #ffffff;
	font-size: 60px;
	font-weight: 400;
	text-align: left;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.color-txt {
	color: red;
}

.main-header-list {
	list-style-type: none;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	line-height: 36px;
	text-align: left;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	width: 550px;
}

.main-header-list-item {
	position: relative;
}

.main-header-list-item:before {
	content: "\2714";
	display: block;
	width: 25px;
	height: 19px;
	position: absolute;
	left: -37px;
}

.main-header-product-photo {
	display: inline-block;
	background-color: #ffffff;
	width: 469px;
	height: 214px;
	float: right;
}

.content {
	width: 100%;
	min-height: 150px;
	padding: 30px;
	background-color: #fff;
	box-sizing: border-box;
}

.about-product {
	min-height: 300px;
}

.main-about-text {
	display: block;
	width: 469px;
	min-height: 150px;
	float: left;
}

.about-product-video {
	display: block;
	background-color: color="#131312";
	width: 469px;
	height: 214px;
	float: right;
	outline: none;
}

.dignity {
	width: 100%;
	padding: 30px;
	background-color: #f5f5f5;
	box-sizing: border-box;
}

.dignity:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}

.dignity-title {
	display: block;
	margin: 0 0 24px 0;
	text-align: center;
	font-size: 30px;
	font-family: "Arial";
	color: rgb(68, 81, 97);
	line-height: 1.2;
}

.dignity-list {
	width: 540px;
	margin: 0;
	padding: 0 0 0 46px;
	list-style-type: none;
	float: left;
}

.dignity-list:nth-child(3) {
	float: right;
}

.dignity-list-item {
	margin: 0 0 20px 0;
	position: relative;
	min-height: 40px;
}

.dignity-list:nth-child(2) > .dignity-list-item:nth-child(3),
.dignity-list:nth-child(3) > .dignity-list-item:nth-child(3) {
	margin: 0;
}

.dignity-list-item:before {
	content: "+";
	display: block;
	width: 32px;
	height: 32px;
	background-color: #445161;
	color: white;
	font-size: 28px;
	text-align: center;
	line-height: 32px;
	position: absolute;
	top: 0;
	left: -46px;
}

.content2 {
	width: 100%;
	min-height: 400px;
	padding: 15px;
	background-color: #fff;
	box-sizing: border-box;
}

.screenshots {
	margin: 0 auto;
}

.screenshots-text {
	display: block;
	width: 380px;
	min-height: 150px;
	padding: 0 15px 0 15px;
	float: left;
}

.screen-title {
	display: block;
	margin: 0 0 14px 0;
	font-size: 20px;
	font-family: "Arial";
	color: rgb(68, 81, 97);
	line-height: 1;
}

.screenshots-photo {
	display: block;
	background-color: rgb(68, 81, 97);
	width: 169px;
	height: 125px;
	float: left;
}

.content3 {
	width: 100%;
	/*min-height: 400px;*/
	padding: 30px;
	background-color: #f5f5f5;
	box-sizing: border-box;
}

.content3:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}

.reviews {
	margin: 0;
}

.reviews-text {
	display: block;
	min-height: 150px;
	padding: 0 0 0 25px;
	margin-right: 20px;
	max-width: 445px;
	height: 64px;
	font-style: italic;
	float: left;
	/*box-sizing: border-box;*/
}

.reviews-text p {
	width: 100%;
	word-break: break-all;
}

.bg_review {
	background-image: url("../img/bg_review.png");
	background-repeat: no-repeat;
	width: 483px;
	height: 121px;
}

.reviews-userpic {
	display: block;
	margin: 0 10px 0 10px;
	border-radius: 50%;
	background-color: rgb(68, 81, 97);
	width: 75px;
	height: 75px;
	float: left;
}

.name-userpic {
	font-size: 14px;
	color: rgb(152, 152, 152);
	line-height: 1.286;
	text-align: left;
	left: 167px;
}

a.name-userpic {
	text-decoration-line: none;
}

.content4 {
	width: 100%;
	min-height: 400px;
	padding: 30px 180px 30px 180px;
	background-color: #fff;
	box-sizing: border-box;
}

.buy {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	box-sizing: border-box;
	background-color: #fff;
}

.buy-title {
	display: block;
	width: 100%;
	text-align: center;
}

.buy-item {
	width: 30%;
	border: 1px solid black;
	border-radius: 6px;
	background-color: #fff;
}

.buy-cl1 {
	display: block;
	padding: 10px 0 10px 0;
	text-align: center;
	background-color: rgb(68, 81, 97);
}

.buy-class1 {
	font-size: 24px;
	font-family: "Arial";
	color: #fff;
	line-height: 1.25;
}

.buy-cl2 {
	display: block;
	padding: 10px 0 10px 0;
	text-align: center;
	background-color: #fff;
}

.buy-class2 {
	font-size: 34px;
	font-family: "Arial";
	color: rgb(68, 81, 97);
	line-height: 1.27;
}

.buy-class3 {
	font-size: 14px;
	font-family: "Arial";
	color: #fff;
	line-height: 1.5;
	text-align: left;
}

.buy-button {
	font-size: 20px;
	font-family: "Arial";
	color: rgb(68, 81, 97);
	text-decoration: none;
	background-color: #fff;
	outline: none;
	border-radius: 6px;
	padding: 10px 80px 10px 80px;
	margin: 30px 0 50px 0;
	line-height: 2;
}

.buy-button:hover {
	font-weight: bold;
	background-color: #f5f5f5;
	border-bottom-width: 0px;
  	box-shadow: 0 -4px 6px rgba(0,0,0,0.15) inset;
}

.buy-button:active {
	font-weight: 700;
	position:relative;
 	top:1px;
 	background:#d3d3d3;
 	box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
 	border-color: #a9db80;
}

.contacts {
	width: 100%;
	min-height: 400px;
	padding: 30px;
	box-sizing: border-box;
	background-color: rgb(68, 81, 97);
	align-content: center;
}

.contacts-title {
	color: #ffffff;
	display: block;
	margin: 0 0 24px 0;
	text-align: center;
	font-size: 30px;
	font-family: "Arial";
	line-height: 1.25;
}

.parent {
	width: 100%;
	min-height: 350px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.child {
	width: 470px;
	height: 350px;
	margin: 0 10px 0 10px;
}
.child:item-2 {
	display: block;
	width: 300px;
}

form {
	display: block;
	width: 100%;
	text-align: center;
}

input {
	color: rgb(68, 81, 97);
	font-size: 18px;
	font-family: "Arial";
}

.input-text {
	font-size: 18px;
	font-family: "Arial";
	color: rgb(68, 81, 97);
	text-decoration: none;
	background-color: #fff;
	outline: none;
	width: 450px;
	border: 2px solid transparent;
	border-radius: 6px;
	padding: 5px 0 0 10px;
}

textarea[type="message"] {
	color: rgb(68, 81, 97);
	font-size: 18px;
	font-family: "Arial";
}

.messages {
	min-height: 150px;
	width: 450px;
	font-size: 20px;
	font-family: "Arial";
	color: rgb(68, 81, 97);
	text-decoration: none;
	background-color: #fff;
	outline: none;
	border: 2px solid transparent;
	border-radius: 6px;
	padding: 5px 0 0 10px;
	resize: none;
}

input[type="submit"] {
	font-size: 16px;
	font-weight: 700;
	font-family: "Arial";
	color: rgb(68, 81, 97);
	text-decoration: none;
	background-color: #fff;
	outline: none;
	width: 150px;
	border-radius: 6px;
	padding: 5px 0 5px 0;
	border: 0 solid transparent;
	line-height: 2;
}

input[type="submit"]:hover {
	font-weight: bold;
	background-color: #f5f5f5;
	border-bottom-width: 0px;
  	box-shadow: 0 -4px 6px rgba(0,0,0,0.15) inset;

}

input[type="submit"]:active {
	font-weight: 700;
	position:relative;
 	top:1px;
 	background:#d3d3d3;
 	box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
 	border-color: #a9db80;
}

/*@font-face {
    font-family: Socialico;
    src: local(socialico), url(fonts/socialico.ttf);
   }*/

.social {
	display: block;
	width: 240px;
	font-size: 16px;
	font-family: "Arial";
	color: #fff;
	font-weight: 500;
	line-height: 2.5;
}

.social img {
	vertical-align: middle;
	padding-right: 10px;
}

.social:nth-child(1) {
	margin-top: 15px;
}

.copy {
	text-align: center;
	background-color: #fff;
}